html {
    font-family: arial
}

body {
    background: rgb(13, 200, 247)
}

.drip {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px
}

.item {
    text-align: center;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-out;
}

.item:hover {
    transform:scale(1.25)
}

.item>img {
    max-width: 100%;
    max-height: 75%;
    border: 3px solid #b08080;
    border-radius: 25px;
    padding: 3%;
    background: white;
}

.item>p {
    margin: -2% 0 0 0
}

.merch>div>p {
    color: green;
    margin: -2% 0 0 0;
    display-size 5px
}

#footer {
    text-align: center
}

h1 {
    color: pink
}